/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (min-width:650px) {
    .header__menu ul {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width:1200px) {
    .main__album {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main__buttons {}
}

@media only screen and (max-width:1199px) {
    .main__album {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .main_right {
        max-width: 100%;
    }
}

@media only screen and (min-width:1015px) {
    .header__menu {
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media only screen and (max-width:1014px) {
    .header__menu {
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
    }
}

@media only screen and (min-width:981px) {
    .main__events {
        justify-content: space-between;
        /* align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between; */
    }
}

@media only screen and (max-width:842px) {
    .main__events {
        justify-content: space-around;
        /* align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between; */
    }
}

@media only screen and (min-width:843px) {
    .main__events {
        justify-content: space-between;
        /* align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between; */
    }
}

@media only screen and (max-width:980px) {
    .main__events {
        justify-content: space-around;
        /* align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between; */
    }
}

@media only screen and (max-width: 700px) {
    /* .header__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
    /* .header__menu nav ul {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
}


/* Small Devices, Tablets */

@media only screen and (min-width: 601px) {
    .main__msgbox {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .main__msgbox {
        display: none;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media(min-width: 320px) {
    .header__menu ul {
        display: flex;
    }
    .lang {
        display: flex;
        justify-content: space-between;
    }
}


/* MENU */

@media screen and (max-width: 660px) {
    .lang {
        display: none;
    }
    .nav {
        width: 100%;
    }
    .menu ul.active {
        display: none;
    }
    .menu li {
        display: block;
    }
    .menu a {
        display: block;
    }
    .toggle-nav {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .menu {
        width: 638px;
    }
    .toggle-nav {
        display: none;
    }
}


/* @media screen and (max-width: 999px) {
    .header__menu {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
} */

@media screen and (max-width: 660px) {
    .menu ul.active {
        display: none;
    }
    .menu li {
        display: block;
    }
    .menu a {
        display: block;
    }
}


/* footer */


/* .footer__links  */

@media(min-width: 505px) {
    .footer__links {
        width: 268px;
    }
}

@media(min-width: 402px) and (max-width: 561px) {
    .footer__links {
        width: 140px;
    }
}

@media(max-width: 401px) {
    .footer__links {
        width: 268px;
    }
}

@media(min-width: 1px) {
    .footer__contacts {
        justify-content: space-between;
    }
}