.amazon_hover,
.apple,
.apple_hover,
.band,
.band_hover,
.clock,
.mail,
.map_marker,
.map_marker_gray,
.phone,
.sound,
.sound_hover,
.amazon {
    background: url(../img/sprites/sprites.png) no-repeat;
}

.amazon {
    background-position: 0 -72px;
    width: 66px;
    height: 13px;
    margin-bottom: -5px;
}

.amazon:hover {
    background-position: 0 -91px;
    width: 66px;
    height: 13px;
}

.apple {
    background-position: 0 0;
    width: 48px;
    height: 14px;
}

.apple:hover {
    background-position: 0 -17px;
    width: 48px;
    height: 14px;
}

.band {
    background-position: 0 -39px;
    width: 74px;
    height: 12px;
    margin-bottom: -2px;
}

.band:hover {
    background-position: 0 -55px;
    width: 74px;
    height: 12px;
}

.clock {
    background-position: -76px -81px;
    width: 16px;
    height: 16px;
    padding-right: 15px;
}

.mail {
    background-position: -78px -21px;
    width: 17px;
    height: 11px;
}

.map_marker {
    background-position: -79px -58px;
    width: 14px;
    height: 15px;
    padding-right: 15px;
}

.map_marker_gray {
    background-position: -79px -38px;
    width: 14px;
    height: 15px;
}

.phone {
    background-position: -78px 0;
    width: 17px;
    height: 16px;
}

.sound {
    background-position: -54px 0;
    width: 17px;
    height: 15px;
}

.sound_hover {
    background-position: -54px -18px;
    width: 17px;
    height: 15px;
}